@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

@*ViewBag is a dynamic object, which means you can put whatever you want in to it; the ViewBag object has no defined properties until you put something inside it.*@

@{
    ViewBag.Title = "Movie List";
}
<h2>My Movie List</h2>

<p>Hello from our View Template!</p>